In [1]:
import pandas as pd

In [7]:
from ...distribution.createWblDistribution import *

ImportError: attempted relative import with no known parent package

In [13]:
s=pd.Series(data=[1,2,3,4,5],index=[0,1,2,3,4])

In [14]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [17]:
import numpy as np

In [18]:
np.sum(s.index*s.values)

40

In [19]:
s.index*s.values

Int64Index([0, 2, 6, 12, 20], dtype='int64')

In [22]:
from scipy.interpolate import interp1d as ip1d

In [23]:
d1=ip1d(s.index,s.values)

In [26]:
d1([1,2,3])

array([2., 3., 4.])

In [27]:
pc=pd.DataFrame({1:[1,2,3,4,5],2:[7,8,9,10,11]})

In [28]:
pc

   1   2
0  1   7
1  2   8
2  3   9
3  4  10
4  5  11

In [29]:
pc.values

array([[ 1,  7],
       [ 2,  8],
       [ 3,  9],
       [ 4, 10],
       [ 5, 11]], dtype=int64)

In [30]:
pc*pc

    1    2
0   1   49
1   4   64
2   9   81
3  16  100
4  25  121

In [33]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [43]:
pc2=pc.reindex(range(0,10))

In [63]:
pc2.interpolate(method='polynomial',order=2, axis=0)

     1     2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  4.0  10.0
4  5.0  11.0
5  NaN   NaN
6  NaN   NaN
7  NaN   NaN
8  NaN   NaN
9  NaN   NaN

In [48]:
pc2

     1     2
0  1.0   7.0
1  2.0   8.0
2  3.0   9.0
3  4.0  10.0
4  5.0  11.0
5  NaN   NaN
6  NaN   NaN
7  NaN   NaN
8  NaN   NaN
9  NaN   NaN